.profile{
    border: 5px;
    border-radius: 50%;
}

/* .data{
    align-items: center;
    background-color: rgb(15, 7, 87);
} */


.heading:hover{
    color: brown;
}

.data:hover{
    background-color: rgb(15, 7, 87);
    border-radius: 40%;
}


.vid{
    border-radius: 30%;
}

.home-town:hover{
    background-color: rgb(66, 6, 53);
    border-radius: 40%;
}

.home-town img{
    border-radius: 10%;
}

.form:hover{
    background-color: rgb(151, 43, 23);
    border-radius: 40%;
}

.address:hover{
    background-color: rgb(9, 63, 45);
    border-radius: 40%;
}

.vid:hover{
    background-color: rgb(10, 121, 121);
    border-radius: 40%;
}

.vid video{
    border-radius: 20%;
}

.foot:hover{
    background-color: rgb(16, 92, 6);
    border-radius: 40%;
}